<div id="content">
  
  
  <h1>Sammy.js</h1>
  <a href="http://sammyjs.org/"> <img src="http://sammyjs.org/images/sammy-logo-header-large.png" /> </a>
  <h2>RESTful Evented Javascript</h2>
  <br><br><br>


</div>

<div id="side">

  <div id="contentquemsomos"> 
      
    <h1><span>Quem somos</span></h1>
    
    <div class="quemsomos">
      <p>
        <a href="http://about.me/cmilfont"> <img src="images/cmilfont.jpg" /> </a><br />
        <span>Christiano Milfont</span>
        <br/>
      </p>
    </div>
    
    <div class="quemsomos">
      <p>
        <a href="http://www.gogs.com.br/"> <img src="images/gogo.jpg" /> </a><br />
        <span>Henrique Soares</span>
        <br/>
      </p>
    </div>
    
     <a href="https://developer.mozilla.org/en/JavaScript/Reference"><img src="http://static.jsconf.us/promotejshs.png" /></a> 

  </div> 

</div>

